---
const { t } = Astro.props;
---
<section id="inventory">
    <h2 data-key="inventory">Inventory & Achievements</h2>

    <div class="badge-grid">
        <div class="badge-item">
        <div class="badge-icon">
            <i class="fa-solid fa-shield-halved"></i>
        </div>
        <div class="badge-info">
            <span class="badge-name">Pre-Security</span>
            <span class="badge-source">TryHackMe</span>
        </div>
        </div>

        <div class="badge-item">
        <div class="badge-icon">
            <i class="fa-solid fa-scroll"></i>
        </div>
        <div class="badge-info">
            <span class="badge-name">Python for Data</span>
            <span class="badge-source">Google Cert.</span>
        </div>
        </div>

        <div class="badge-item">
        <div class="badge-icon">
            <i class="fa-solid fa-terminal"></i>
        </div>
        <div class="badge-info">
            <span class="badge-name">Linux Basics</span>
            <span class="badge-source">Skill Unlocked</span>
        </div>
        </div>
    </div>
</section>